@keyframes heartAnimation {
    0% {
        transform: scale(1);
        fill: white;
    }

    25% {
        transform: scale(1.5) rotate(20deg);
        fill: #58b747;
    }

    50% {
        transform: scale(1.3) rotate(-20deg);
        fill: #47b5b7;
    }

    75% {
        transform: scale(1.2) rotate(15deg);
        fill: #5247b7;
    }

    90% {
        transform: scale(1.1) rotate(-15deg);
        fill: #f3d14b;
    }

    100% {
        transform: scale(1);
        fill: red;
    }
}

.heart-animation {
    animation: heartAnimation 1s ease-in-out forwards;
}

.firework {
    position: absolute;
}

.firework .lines::before {
    animation: explosion 0.5s ease-in-out forwards;
}

@keyframes explosion {
    0% {
        top: 100%;
    }

    55% {
        top: -50%;
        transform: scale(2);
    }

    100% {
        top: -50%;
        height: 10px;
        transform: scale(1.7);
    }
}

.lines {
    position: absolute;
    left: -2px;
    bottom: 0;
    width: 10px;
    height: 48px;
    border-radius: 50px;
    transform-origin: 50% 100%;
    /* background-color: rgba(0, 0, 0, .2); */
}

.lines::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 40px;
    border-radius: 50px;
}

.lines:nth-child(1)::before {
    background-color: #f35a0d;
}

.lines:nth-child(2)::before {
    background-color: #BEF0C4;
}

.lines:nth-child(3)::before {
    background-color: #f55252;
}

.lines:nth-child(4)::before {
    background-color: #A771EA;
}

.lines:nth-child(5)::before {
    background-color: #D1FACF;
}

.lines:nth-child(6)::before {
    background-color: #E2E231;
}

.lines:nth-child(1) {
    transform: rotate(45deg) translateY(-15px);
}

.lines:nth-child(2) {
    transform: rotate(90deg) translateY(-15px);
}

.lines:nth-child(3) {
    transform: rotate(140deg) translateY(-15px);
}

.lines:nth-child(4) {
    transform: rotate(185deg) translateY(-15px);
}

.lines:nth-child(5) {
    transform: rotate(260deg) translateY(-15px);
}

.lines:nth-child(6) {
    transform: rotate(307deg) translateY(-15px);
}

.child-lines {
    position: absolute;
    bottom: 0;
    width: 7px;
    height: 20px;
    border-radius: 50px;
    transform-origin: 50% 100%;
    /* background-color: rgba(100, 193, 0, 0.2); */
}

.lines:nth-child(1) .child-lines {
    left: -80px;
    top: 55px;
}

.lines:nth-child(1) .child-lines::before {
    background-color: #EA4E49;
}

.lines:nth-child(2) .child-lines {
    left: 2px;
    top: -40px;
}

.lines:nth-child(2) .child-lines::before {
    background-color: #A771EA;
}

.lines:nth-child(5) .child-lines {
    left: -78px;
    top: 22px;
}

.lines:nth-child(5) .child-lines::before {
    background-color: #449ae0;
}

.child-lines::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 8px;
    border-radius: 50px;
}

.child-lines::before {
    animation: explosion1 1s ease-in-out forwards;
}

.child-lines:nth-child(1) {
    transform: rotate(0deg) translateY(-7px);
}

.child-lines:nth-child(2) {
    transform: rotate(60deg) translateY(-7px);
}

.child-lines:nth-child(3) {
    transform: rotate(120deg) translateY(-7px);
}

.child-lines:nth-child(4) {
    transform: rotate(180deg) translateY(-7px);
}

.child-lines:nth-child(5) {
    transform: rotate(240deg) translateY(-7px);
}

.child-lines:nth-child(6) {
    transform: rotate(300deg) translateY(-7px);
}



@keyframes explosion1 {
    0% {
        top: 100%;
        height: 0px;

    }

    55% {
        top: 100%;
        height: 0px;
    }

    100% {
        top: -50%;
        height: 8px;
    }
}


svg.squiggle {
    position: absolute;
    width: 40px;
    height: 35px;
    z-index: 1;
}

svg.squiggle path {
    stroke-width: 100px;
    stroke: #e567bb;
    animation: ss 0.5s ease-in-out forwards;
}

svg.squiggle1 {
    position: absolute;
    width: 30px;
    height: 50px;
    z-index: 1;
}

svg.squiggle1 path {
    stroke-width: 60px;
    stroke: #e5c667;
    animation: ss 0.5s ease-in-out forwards;
}


@keyframes ss {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spin-right {
    0% {
        top: -30px;
        left: -18px
    }

    34% {
        top: -30px;
        left: 0px
    }

    50% {
        top: -10px;
        left: 10px
    }

    100% {
        transform: rotate(60deg);
        top: -7px;
        left: 20px
    }
}


@keyframes spin-left {
    0% {
        top: -30px;
        left: -18px
    }

    34% {
        top: -30px;
        left: 0px
    }

    50% {
        top: -10px;
        left: 10px
    }

    100% {
        transform: rotate(60deg);
        top: -7px;
        left: 20px
    }
}
.spin-right {
    position: absolute;
    top: -35px;
    left: -18px;
    animation: spin-right 2s linear forwards;
}

.spin-left {
    position: absolute;
    top: -35px;
    left: -51px;
    animation: spin-left 2s linear forwards;
}